body {
    text-align: center;
}

table {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

td: { 
    margin: 1rem;
    padding: 1rem;
}

#freelancerForum {
    width: 100%;
    margin: 1rem;
}